.nav-links {
    display: flex;
    justify-content: flex-end;
    padding: 3rem 2rem .5rem 0;
    gap: 7%;
    background-color: #00000055;

}

.nav-links li {
    text-decoration: none;
    list-style: none;
    color: #BCBCDD;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1rem;
}


.menu-icon {
    cursor: pointer;
    display: none;
    justify-self: flex-end;
    transition: transform .3s ease-in-out;

}

.menu-icon:active {
    transform: translateY(-6px);

}

.icon {
    font-size: 1.3rem;
    transition: transform .3s ease-in-out;


    &:hover {
        color: #91A1D9;

    }

}

button{
    color: #fff;
}

.menu-web {
    position: sticky;
    top: 0;
}

.icon:active {
    transform: translateY(-6px);
}

@media (max-width: 600px) {
    .menu-web {
        display: none;
    }

    .menu {
        display: none;

    }

    .menu.open {
        display: block;
    }

    .menu-icon {
        display: inline-block;
        padding-top: 2rem;
        padding-right: 1rem;
        padding-bottom: .3rem;
        text-align: end;
        position: fixed;
        top: 0;
        width: 100%;

        background: #0000008f !important;

    }

    .icon {
        text-align: end;
    }

    .menu-mobile {
        width: 100%;
        height: 100%;
        background-color: #96a8ec;
        position: absolute;
        padding-top: 4rem;
        position: fixed;


    }

    button {
        background: transparent;
        border: none;
        font-size: 1.3rem;


    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: relative;
        padding-left: 2rem;
        background: none;



    }

    .nav-links li {
        color: #fff;


    }

    .light-mode li {
        color: #fff !important;
    }

}