.skills-container{
    text-align: center;
    /* color: #d4d4f7; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.skills-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 430px;

}

.skill{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
padding: 10px 20px;
font-size: 1rem;
font-weight: 600;
transition: transform .3s, background-color .3s;
cursor: pointer;
&:hover{
    background-color: #555;
    transform: scale(1.1);
}
}