.contact {
    padding-top: 8rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}

input {
    padding: .3rem;
    outline: none;
}

textarea {
    outline: none;
    padding: .1rem 5rem 2rem .5rem;

}

label {
    font-size: 1.2rem;
}

.contact .btn {
    padding: .5rem 1.3rem;
    margin-top: .5rem;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
    background: none;
    border: 2px solid #9193d9;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
        background: #90A0D9;
    }
}

.contact button:active {
    transform: scale(1.1);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}



p {
    padding: 1rem;
    font-weight: 700;

    font-size: .9rem;
}